@model TCM_Supermercado1.Models.Funcionario;

<link href="~/css/Login.css" rel="stylesheet" />
<script src="~/js/site.js"></script>

<div class="text-center">
    <h1 class="display-4"> Login </h1>
    <br>

    <br>
    
    <section class="Login">
        <form asp-action="Login" method="post" class="login-form">
        <h2>Digite seus dados</h2>
        <div id=digito>
            <input type="text" name="email" placeholder="Email">
            <br>
            <input type="text" name="senha" placeholder="Digite sua Senha">
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Entrar</button>
            <br>
            <input type="button" value="Cadastrar">
        </div>
        <p>
            <a asp-controller="Login" asp-action="RecuperarSenha" id="btnRecuperar">Recuperar Senha</a>
        </p>
    </form>
    </section> 
</div>
