@{
    ViewData["Title"] = "Recuperar Senha";
}
<!--Conexões-->
<link href="~/css/recuperar.css" rel="stylesheet" />
<script src="~/js/site.js"></script>

<div class="text-center">
    <h1 class="display-4">Recupere sua senha</h1>
    <br>
    
    <br>
    <section class="Recuperar">
        <h2 >Digite seus dados</h2>
        <div id=digito>
           <input type="text" placeholder="Numero de cadastro">
           <br>
           <input type="text" placeholder="Nova senha">
        </div>
        <div>
            <input type="button" value="Enviar">
            <br>
        <p>
            <a asp-controller="Home" asp-action="Index" id="btnLogin">Retornar a login</a>
        </p>

        </div>
    </section> 
  
</div>