body {
    background-color: #ffefd5;
}

.display-4{
    color:darkorange;
    font-family:Arial;
  
}

.Login {
    background-color: seagreen;
    color:darkorange;
    width:30%;
    height:250px;
    padding:initial;
    border-radius:5px;
    margin:auto;
}

#informacoes{
    padding: 10px;
}

#btnRecuperar{
    color:blue;
}