/*Corpo do site*/
body {
    background-color: #FFF7E7;    
}

.display-4{
    color:darkorange;
    font-family:Arial;
  
}

.Login {
    background-color: seagreen;
    color:darkorange;
    width:30%;
    height:250px;
    padding:initial;
    border-radius:5px;
    margin:auto;
}

#informacoes{
    padding: 10px;
}

#btnCadastro{
    color:white;
    background-color:seagreen;
    border-color:seagreen;
}

#btnRecuperar{
    color:blue;
}