body {
    background-color: #FFF7E7;
}

.display-4{
    color: darkorange;
    font-family: Arial;
}

.Recuperar{
    background-color: seagreen;
    color: darkorange;
    width: 40%;
    height: 250px;
    padding: initial;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}

#email{
    width: 50%;
    margin-top:30px;
}

#recuperar{
    background-color:dodgerblue;
    border-color:dodgerblue;
    color:white;
    margin-top:10px;
    width:50%;
    height:20%;
}

#btnLogin{
    color:antiquewhite;
    margin-top:20px;
}
